* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f2ebe3;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;;
}

main.container {
 background-color: #fff;
 width: 90%;
 margin: 40px auto;
 border-radius: 8px;
 overflow: hidden;
}

section.product-image {
    text-align: center;
    
    
}

picture img {
    width: 100%;
}

section.product-content {
    padding: 20px;
}

section.product-content span {
    letter-spacing: 0.4rem;
}

section.product-content h1, .price-div .sale-price {
    font-family: 'Fraunces', serif;
    font-size: 2rem;
    font-weight: 700;
}

h1 {
    color: #1c232b;
}

p {
    padding: 10px 0;
    color: #6c7289;
    line-height: 1.4rem;
    font-weight: 500;
}

.price-div {
    display: flex;
    align-items: center;
}

.price-div .sale-price {
    color: #3c8067;
}

.price-div .original-price {
    margin-left: 15px;
}

button {
    margin: 20px auto;
    padding: 15px 10px;
    width: 100%;
    background-color: #3c8067;
    color: #fff;
    font-weight: bold;
    border-radius: 6px;
    border: none;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

button:hover, button:active {
    background-color: #104a35;
    transition: 700ms ease-in-out;
}

button img {
    margin-right: 9px;
}

.sr-only {
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 1px;
    top: auto;
    overflow: hidden;
}

@media screen and (min-width: 769px) {
    main.container {
        display: flex;
        max-width: 700px;
        margin: 20vh auto;
        align-items: center;
    }

    section.product-content {
        padding: 30px;
    }

    section.product-image, section.product-content {
        flex-basis: 50%;
    }
    
    section.product-content h1 {
        font-size: 2.5rem;
        line-height: 2.8rem;
    }

    p {
        font-size: 1rem;
        line-height: 1.6rem;
        padding: 15px 10px;
    }

    .price-div .sale-price {
        font-size: 2.5rem;
    }
    
    .price-div .original-price {
        font-size: 1rem;
    
    }

    button {
        margin-bottom: 0;
    }
}